.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;

    .pagination_box {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page_btn {
        margin: 10px;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #f14b3d;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border: none;

        &:hover {
            background-color: #d42515;
        }

        &:active {
            background-color: #aa2a1e;
            top: 5px;
        }
    }
}
