.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 41px;
    margin-bottom: 2rem;

    img {
        width: 263px;
        height: 220px;
        margin-top: 15px;
    }

    @media (max-width: 751px) {
        h1 {
            font-size: 25px;
        }

        img {
            width: 200px;
            height: 160px;
        }
    }
}
